* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    Muli,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

li {
  list-style: none;
}

/* header */
nav {
  padding: 15px;
  width: 100%;
  display: flex;
  background: #407a8f;
}

nav .content-nav {
  display: flex;
  line-height: 2rem;
  flex-direction: row;
  justify-content: flex-end;
  width: 60%;
}

nav .content-nav ul {
  display: flex;
}

nav .content-nav ul li a {
  text-decoration: none;
  color: #43433e;
  text-transform: uppercase;
  padding: 0 15px;
  font-weight: 800;
}

nav .content-nav ul li a:hover {
  color: #fff;
}

.content-nav #input-search {
  position: relative;
}

.content-nav #input-search {
  border: none;
  background: #fff;
  padding: 7px;
  outline: none;
  border-radius: 12px;
}

.content-nav #input-search {
  padding: 5px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: #fff;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0);
  background-color: rgb(0 0 0 / 40%);
}

.modal-content {
  margin: 0 auto;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgb(0 0 0 / 20%);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-body {
  padding: 1rem;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid #aaa;
  padding: 1rem;
}

.modal-footer > :not(:first-child) {
  margin-left: 0.25rem;
}

.btn {
  cursor: pointer;
  outline: none;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
}

.btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.modal-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
  padding: 1rem;
}

h5.modal-title {
  font-size: 1.5rem;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#cart {
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
}

#cart:hover {
  border-color: #fff;
}

/* wrapper */
.wrapper {
  padding: 2rem;
}

.products ul {
  display: inline-block;
}

.products ul .main-product {
  margin-bottom: 2rem;
  margin-right: 1rem;
  display: block;
  float: left;
  width: 24%;
}

.products ul .no-margin {
  margin-right: 0;
}

.products ul .img-product img {
  width: 100%;
}

.content-product .content-product-h3 {
  padding: 0.5rem 0;
  overflow: hidden;
  color: #222;
  font-weight: 500;
  font-size: 16px;
  max-height: 50px;
  min-height: 50px;
  text-align: center;
  line-height: 19px;
  margin: 0 0 5px;
}

.content-product .content-product-deltals {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.main-product .content-product .content-product-deltals .price {
  color: #407a8f;
  font-weight: 700;
  margin-right: 1rem;
  vertical-align: middle;
  font-size: 20px;
}

.content-product .content-product-deltals .price .money {
  vertical-align: middle;
}

.content-product .content-product-deltals .btn-cart {
  background: #407a8f;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
}

.content-product .content-product-deltals .btn-cart:hover {
  background: #407a8f;
}

/* footer */
.footer-item {
  padding: 0.5rem 2rem;
  background: #407a8f;
  display: flex;
}

.footer-item .social-footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.footer-item .social-footer li a {
  color: #130202;
  font-size: 2rem;
}

.footer-item .social-footer li:last-child {
  margin-left: 0.5rem;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

#container-categories.navbar-category{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;

}



.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
}
.login__container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login__container h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
}
.login__container form {
  display: flex;
  flex-direction: column;
}
.login__container form label {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.login__container form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
.login__container form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
.login__container form button:hover {
  background: #555;
}
.login__container form a {
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #333;
}
.login__container form a:hover {
  color: #555;
}
.login__registerButton {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
}
/* style signup */
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f5f5;
}
.signup__container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.signup__container h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
}
.signup__container form {
  display: flex;
  flex-direction: column;
}
.signup__container form label {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.signup__container form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
.signup__container form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
.signup__container form button:hover {
  background: #555;
}
.signup__container form a {
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #333;
}
.signup__container form a:hover {
  color: #555;
}
.signup__registerButton {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
  display: block;
}

.container-slide{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  width:1870px;
  height:850px;
  padding:50px;
  background-color: #f5f5f5;
  box-shadow: 0 30px 50px #dbdbdb;
}
#slide{
  width:max-content;
  margin-top:50px;
}
.item{
  width:200px;
  height:300px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top:50%;
  transform: translate(0,-50%);
  border-radius: 20px;
  box-shadow:  0 30px 50px #505050;
}
.item:nth-child(1),
.item:nth-child(2){
  left:0;
  top:0;
  transform: translate(0,0);
  border-radius: 0;
  width:100%;
  height:100%;
  box-shadow: none;
}
.item:nth-child(3){
  left:50%;
}
.item:nth-child(4){
  left:calc(50% + 220px);
}
.item:nth-child(5){
  left:calc(50% + 440px);
}
.item:nth-child(n+6){
  left:calc(50% + 660px);
  opacity: 0;
}
.item .content{
  position: absolute;
  top:50%;
  left:100px;
  width:300px;
  text-align: left;
  padding:0;
  color:#eee;
  transform: translate(0,-50%);
  display: none;
  font-family: system-ui;
}
.item:nth-child(2) .content{
  display: block;
  z-index: 11111;
}
.item .name{
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  animation:showcontent 1s ease-in-out 1 forwards
}
.item .des{
  margin:20px 0;
  opacity: 0;
  animation:showcontent 1s ease-in-out 0.3s 1 forwards
}
.item button{
  padding:10px 20px;
  border:none;
  opacity: 0;
  animation:showcontent 1s ease-in-out 0.6s 1 forwards
}
@keyframes showcontent{
  from{
      opacity: 0;
      transform: translate(0,100px);
      filter:blur(33px);
  }to{
      opacity: 1;
      transform: translate(0,0);
      filter:blur(0);
  }
}
.buttons{
  position: absolute;
  bottom:30px;
  z-index: 222222;
  text-align: center;
  width:100%;
}
.buttons button{
  width:50px;
  height:50px;
  border-radius: 50%;
  border:1px solid #555;
  transition: 0.5s;
}.buttons button:hover{
  background-color: #bac383;
}

#container-categories.navbar-category{
  display: flex;
  line-height: 2rem;
  flex-direction: row;
  justify-content: flex-end;
  width: 60%;
  text-decoration: none;
  color: #43433e;
  text-transform: uppercase;
  padding: 0 15px;
  font-weight: 800;
}

#container-categories.navbar-category:hover{
  color: red;
}