{{page-title "Signup"}}
<div class="signup">
      <div class="signup__container">
        <h1>Đăng Ký</h1>
        <form action="">
          <h5>Email</h5>
          <input type="text" class="input-signup-username" />
          <h5>Password</h5>
          <input type="password" class="input-signup-password" />
          <button type="submit" class="signup__signInButton">Đăng Ký</button>
        </form>
        <a href="/login" class="signup__registerButton"
          >Tạo tài khoản mới</a
        >
      </div>
    </div>

    <script>
       

const inputUsernameRegister = document.querySelector(".input-signup-username");
const inputPasswordRegister = document.querySelector(".input-signup-password");
const btnRegister = document.querySelector(".signup__signInButton");



btnRegister.addEventListener("click", (e) => {
  e.preventDefault();
  if (
    inputUsernameRegister.value === "" ||
    inputPasswordRegister.value === ""
  ) {
    alert("vui lòng không để trống");
  } else {
    // array user
    const user = {
      username: inputUsernameRegister.value,
      password: inputPasswordRegister.value,
    };
    let json = JSON.stringify(user);
    localStorage.setItem(inputUsernameRegister.value, json);
    alert("Đăng Ký Thành Công");
    window.location.href = "/login";
  }
});
    </script>
{{outlet}}