{{page-title "Index"}}


{{outlet}}
<div class="container-slide">
        <div id="slide">
            <div class="item" style="background-image: url(/assets/gian.jpg);">
                <div class="content">
                    <div class="name">Sách hay</div>
                    <div class="des"> Một quyển sách hay là đời sống xương máu quý giá của một tinh thần ướp hương và cất kín cho mai sau</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(/assets/slide7.png);">
                <div class="content">
                    <div class="name">Sách hay</div>
                    <div class="des">Gặp được một quyển sách hay nên mua liền dù đọc được hay không đọc được, vì sớm muộn gì cũng cần đến nó.</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(/assets/slide6.png);">
                <div class="content">
                    <div class="name">Sách hay</div>
                    <div class="des">Để cho con một hòm vàng không bằng dạy cho con một quyển sách hay.</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(/assets/slide5.png);">
                <div class="content">
                    <div class="name">Sách hay</div>
                    <div class="des">Kết hợp những điều hiểu biết với những kinh nghiệm và kiến thức sẵn có – đó là nguyên tắc cần thiết khi lựa chọn sách</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(/assets/slide1.png);">
                <div class="content">
                    <div class="name">Sách hay</div>
                    <div class="des">Nếu tôi có quyền thế, tôi sẽ đem sách mà gieo rắc khắp mặt địa cầu như người ta gieo lúa trong luống cày vậy</div>
                    
                </div>
            </div>
            <div class="item" style="background-image: url(/assets/slide2.png);">
                <div class="content">
                    <div class="name">Sách hay</div>
                    <div class="des">Lựa sách mà đọc cũng như lựa bạn mà chơi. Hãy coi chừng bạn giả </div>
                    
                </div>
            </div>
        </div>
        <div class="buttons">
            <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
            <button id="next"><i class="fa-solid fa-angle-right"></i></button>
        </div>
    </div>
    <script>
        document.getElementById('next').onclick = function(){
    let lists = document.querySelectorAll('.item');
    document.getElementById('slide').appendChild(lists[0]);
}
document.getElementById('prev').onclick = function(){
    let lists = document.querySelectorAll('.item');
    document.getElementById('slide').prepend(lists[lists.length - 1]);
}
  
    </script>
    